<div id="bg" ng-style="{'background-image': image}" keypress-events>
  <div id="logo">
    <div>
      <h1 id="title">{{config.title}}</h1>
    </div>
    <div>
      <h2 id="subtitle">{{config.subtitle}}</h2>
      <h3 id="subtext">{{config.subtext}}</h3>
    </div>
  </div>
  <div id="navi" ng-if="config.navi">
    <ul>
      <li ng-repeat="navi in config.navi"><a href="{{navi.href}}" track-click="/{{navi.name | lowercase}}">{{navi.name}}</a></li>
    </ul>
  </div>
  <div id="subnavi" ng-if="config.subnavi">
    <ul>
      <li ng-repeat="navi in config.subnavi"><a href="{{navi.href}}" track-click="/{{navi.name | lowercase}}">{{navi.name}}</a></li>
    </ul>
  </div>
</div>
